p.welcome{
	color: red;
	font-weight: bold;
}

p.salut{
	color: #ff00e1;
	background-color: #000000
}

body{
	background: url("https://www.code-couleur.com/images/listing/accueil/cartes-bancaires.jpg") no-repeat;
	background-size: 100%
}

h1.h1{
	font-size: 100px;
	padding-left: 100px;
	padding-left: 100px;
}